version: '3.1'

services: 
  vsserver:
    build: .
    container_name: vsserver
    restart: always
    volumes: 
      - gamedata:/gamedata
    ports:
      - 42420:42420
    environment:
      VSDATAPATH: vs-custom
volumes:
  gamedata: